.container {
  display: flex;
}

.container.grid {
  flex-direction: row;
  flex-wrap: wrap;
}

.container.list {
  flex-direction: column;
}

/* I'd advice also adding a min-width to elements within the container */

.container .child {
  flex: 1;
  min-width: 256px;
}
