* {
  box-sizing: border-box;
  font-family: "consolas", "courier new", monospace;
}

.head {
  backdrop-filter: blur(16px) brightness(75%);
  border-bottom: 1px solid #c9ff05;
  margin-bottom: 1em;
  padding: 1em;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

body {
  background-color: black;
  color: white;
  margin: 0;
}

button {
  background-color: #c9ff05;
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  filter: brightness(0.8);
  font-size: 16px;
  font-weight: bold;
  margin: 8px;
  padding: 8px 16px;
  transition: filter 0.2s;

  &:hover {
	filter: brightness(1);
  }

}

a button {
  background-color: #7a7aff;
  color: white;
}